.alert {
    --color-alert-text: #000;
    --color-alert-border: #000;
    --color-alert-background: #fff;
    background: var(--color-alert-background);
    border: 2px solid var(--color-alert-border);
    padding: var(--gap-size-3);
    border-radius: var(--radius-2);
    color: var(--color-alert-text);
}

.alert h3 {
    font-weight: var(--fw-bold);
    font-size: 0.75em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.alert.alert--info {
    --color-alert-text: rgb(64, 75, 112);
    --color-alert-border: rgb(64, 75, 112);
    --color-alert-background: rgb(247, 249, 255);
}

.dark-theme .alert.alert--info {
    --color-alert-text: #a8c6f3;
    --color-alert-border: #2c4b79;
    --color-alert-background: #0e213d;
}

.alert.alert--warning {
    --color-alert-text: rgb(173, 68, 7);
    --color-alert-border: rgb(173, 68, 7);
    --color-alert-background: rgb(255, 250, 247);
}
