.alert {
    --_clr-text: #000;
    --_clr-border: #000;
    --_clr-bg: #fff;
    background: var(--_clr-bg);
    border: 2px solid var(--_clr-border);
    padding: 1rem;
    border-radius: var(--radius-1);
    color: var(--_clr-text);
}

.alert h3 {
    font-weight: var(--fw-bold);
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
}

.alert.alert--info {
    --_clr-text: rgb(64, 75, 112);
    --_clr-border: rgb(64, 75, 112);
    --_clr-bg: rgb(247, 249, 255);
    border-color: var(--_clr-border);
}

.dark-theme .alert.alert--info {
    --_clr-text: #a8c6f3;
    --_clr-border: #2c4b79;
    --_clr-bg: #0e213d;
}

.alert.alert--warning {
    --_clr-text: rgb(173, 68, 7);
    --_clr-border: rgb(173, 68, 7);
    --_clr-bg: rgb(255, 250, 247);
    border-color: var(--_clr-border);
}