.alert {
    background-color: var(--clr-bg);
    border: 2px solid var(--clr-bg);
    padding: 1rem;
    border-radius: .5rem;
    color: var(--clr-info);
}

.alert h3 {
    font-weight: var(--fw-bold);
}

.alert.alert--info {
    border-color: var(--clr-info);
}
