@import url('https://fonts.googleapis.com/css2?family=Alice&family=Inter:wght@400;700&family=Space+Mono&display=swap');
/* @import url('https://api.fonts.coollabs.io/css2?family=Alice&family=Inter:wght@400;700&family=Space+Mono&display=swap'); */

:root {
    /* Base color scheme */
    --clr-red-50: #FAF5F8;
    --clr-red-100: #F5EAF2;
    --clr-red-200: #ECD5E5;
    --clr-red-300: #E1BDD5;
    --clr-red-400: #D29DC1;
    --clr-red-500: #C178AA;
    --clr-red-600: #B8659E;
    --clr-red-700: #AF5091;
    --clr-red-800: #8F4277;
    --clr-red-900: #693057;

    --clr-gray-50: #F3F4F6;
    --clr-gray-100: #E7E9EE;
    --clr-gray-200: #CDD0DB;
    --clr-gray-300: #ACB1C3;
    --clr-gray-400: #838AA5;
    --clr-gray-500: #454A5F;
    --clr-gray-600: #404559;
    --clr-gray-700: #333747;
    --clr-gray-800: #2D303E;
    --clr-gray-900: #181921;

    --clr-rating: rgb(235, 133, 0);

    --shadow-color: 324deg 10% 71%;
    --shadow-elevation-medium:
      0px 0.4px 0.5px hsl(var(--shadow-color) / 0.25),
      0px 1.1px 1.2px -0.8px hsl(var(--shadow-color) / 0.25),
      0px 2.6px 2.9px -1.7px hsl(var(--shadow-color) / 0.25),
      0px 6.3px 7.1px -2.5px hsl(var(--shadow-color) / 0.25);
    --shadow-elevation-high:
      0px 0.4px 0.5px hsl(var(--shadow-color) / 0.26),
      0px 1.8px 2px -0.4px hsl(var(--shadow-color) / 0.26),
      0px 3.5px 3.9px -0.8px hsl(var(--shadow-color) / 0.26),
      0px 6px 6.8px -1.2px hsl(var(--shadow-color) / 0.26),
      0px 10.1px 11.4px -1.7px hsl(var(--shadow-color) / 0.26),
      -0.1px 16.5px 18.6px -2.1px hsl(var(--shadow-color) / 0.26),
      -0.1px 26px 29.3px -2.5px hsl(var(--shadow-color) / 0.26);

    /* Base component color scheme */
    --clr-link-color: var(--clr-gray-800);
    --clr-link-color-hover: var(--clr-red-800);
    --clr-body-font: var(--clr-gray-800);
    --clr-body-bg: var(--clr-red-50);

    --default-scheme: light;

    --font-primary: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-accent: 'Bitter', serif;
    --font-heading: 'Alice', serif;
    --font-mono: 'Space Mono', monospace;
    --fw-bold: 700;

    --color-site-header: #584b75;
    --color-site-header-subnavigation: #463963;
    --color-btn-default: #454b60;
    --color-btn-default-hover: #2b3042;
    --color-menu-item-hover: #eff7f6;

    --site-width: 1440px;
    --cocktail-grid-card-width: 250px;
    --cocktail-list-card-width: 350px;

    --clr-accent-blue: #d2e4ee;
    --clr-accent-yellow: #FFF1E6;
    --clr-accent-red: #FDE2E4;
    --clr-accent-green: #d4e9e4;
    --clr-accent-purple: #eaeaff;
    --clr-accent-orange: #f1dcca;

    /* Dark mode scheme */
    --clr-dark-main-50: #E4E2E9;
    --clr-dark-main-100: #DAD6E0;
    --clr-dark-main-200: #BFB9CB;
    --clr-dark-main-300: #A49CB5;
    --clr-dark-main-400: #8C82A1;
    --clr-dark-main-500: #726789;
    --clr-dark-main-600: #5C536F;
    --clr-dark-main-700: #443D52;
    --clr-dark-main-800: #2C2734;
    --clr-dark-main-900: #16141A;
    --clr-dark-main-950: #0A090C;
}

.dark-theme {
    --clr-red-50: #F2EAF6;
    --clr-red-100: #E5D4ED;
    --clr-red-200: #C9A6D9;
    --clr-red-300: #B07BC6;
    --clr-red-400: #9650B4;
    --clr-red-500: #723B8A;
    --clr-red-600: #5C2F6F;
    --clr-red-700: #442352;
    --clr-red-800: #2C1736;
    --clr-red-900: #180C1D;
    --clr-red-950: #0C060E;

    --default-scheme: dark;

    --clr-link-color: var(--clr-gray-200);
    --clr-link-color-hover: #fff;
    --clr-body-font: var(--clr-gray-50);
    --clr-body-bg: var(--clr-dark-main-950);

    --color-site-header: var(--clr-dark-main-900);

    --clr-accent-blue: #0d212b;
    --clr-accent-yellow: #26160a;
    --clr-accent-red: #2f1214;
    --clr-accent-green: #132823;
    --clr-accent-purple: #1f1f29;
    --clr-accent-orange: #f1dcca;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

strong {
    font-weight: 700;
}

body {
    color: var(--clr-body-font);
    background-color: var(--clr-body-bg);
    line-height: 1.6;
    font-family: var(--font-primary);
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    counter-reset: section;
    color-scheme: var(--default-scheme);
}

@media (max-width: 450px) {
    body {
        font-size: 14px;
        line-height: 1.6;
    }
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
}

a {
    color: var(--clr-link-color);
}

a:hover,
a:focus,
a:active {
    color: var(--clr-link-color-hover);
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

hr {
    border: 2px solid var(--clr-red-400);
    margin: 1rem 0;
}

.sm-show {
    display: none;
}

@media (max-width: 750px) {
    .sm-show {
        display: block;
    }
}
