@import url('https://fonts.googleapis.com/css2?family=Alice&family=Inter:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Alice&family=Philosopher:wght@400;700&display=swap'); */

:root {
    --clr-red-50: #FAF5F8;
    --clr-red-100: #F5EAF2;
    --clr-red-200: #ECD5E5;
    --clr-red-300: #E1BDD5;
    --clr-red-400: #D29DC1;
    --clr-red-500: #C178AA;
    --clr-red-600: #B8659E;
    --clr-red-700: #AF5091;
    --clr-red-800: #8F4277;
    --clr-red-900: #693057;

    --clr-gray-50: #F3F4F6;
    --clr-gray-100: #E7E9EE;
    --clr-gray-200: #CDD0DB;
    --clr-gray-300: #ACB1C3;
    --clr-gray-400: #838AA5;
    --clr-gray-500: #454A5F;
    --clr-gray-600: #404559;
    --clr-gray-700: #333747;
    --clr-gray-800: #2D303E;
    --clr-gray-900: #181921;

    --clr-light-bg-base: rgba(255, 255, 255, .7);

    --color-tag: #DFE7FD;
    --color-tag-hover: #faeaab;
    --color-site-header: #737db7;
    --color-btn-default: #454b60;
    --color-btn-default-hover: #2b3042;
    --color-menu-item-hover: #eff7f6;

    --font-primary: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-accent: 'Bitter', serif;
    --font-heading: 'Alice', serif;
    --body-ff-color: var(--clr-gray-800);
    --body-bg-color: var(--clr-red-50);

    --fw-bold: 700;

    --site-width: 1440px;
    --cocktail-grid-card-width: 250px;
    --cocktail-list-card-width: 350px;

    --clr-accent-blue: #D6E2E9;
    --clr-accent-yellow: #FFF1E6;
    --clr-accent-red: #FDE2E4;
    --clr-accent-green: #E2ECE9;
    --clr-accent-purple: #dfd7e3;
    --clr-accent-orange: #f1dcca;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --body-ff-color: #fff;
        --body-bg-color: var(--clr-gray-800);
        --color-site-header: #131627;
    }
} */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

strong {
    font-weight: 700;
}

body {
    color: var(--body-ff-color);
    background-color: var(--body-bg-color);
    line-height: 1.6;
    font-family: var(--font-primary);
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    counter-reset: section;
}

@media (max-width: 450px) {
    body {
        font-size: 14px;
        line-height: 1.6;
    }
}

a {
    color: var(--clr-gray-800);
}

a:hover,
a:focus,
a:active {
    color: var(--clr-red-800);
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

hr {
    border: 2px solid var(--clr-red-400);
    margin: 1rem 0;
}

/*
    Iron Maiden
    #dad5e1
    Pastel Day
    #dfd7e3
    Peekaboo
    #eae1eb
    Violet Vogue
    #f1e8f1
    Ephemeral Red
    #ead6e4
    Petite Pink
    #e6c3c4
    Heavy Cream
    #eee2cb
    Pineapple Sorbet
    #f6f5db
    Race the Sun
    #f0f5cf
    Mellow Mint
    #e2f3bd
    Tea Green
    #d3f2b6
    Herbal Vapors
    #cef4be
    Pastel Mint
    #d6f8d2
    Toxic Latte
    #e3fbe5
    Mint Coffee
    #d7fbe3
    Ice
    #c8fbf8
    Puffy Cloud
    #d9e3f6
    Silver Phoenix
    #f0f0f9
    Diamond Cut
    #e9e8f2
    Velvet Scarf
    #dedbe7
 */
