.block-container {
    --clr-block-bg: rgba(255, 255, 255, .4);
    --clr-block-bg-placeholder: #d9e3f6;
    --clr-block-bg-border: #a7badd;
    --clr-border: var(--clr-red-200);
    --clr-border-hover: var(--clr-red-500);
    --bc-padding: 1.75rem;
    background: var(--clr-block-bg);
    border-bottom: 1px solid var(--clr-border);
    border-top: 2px solid #fff;
    border-radius: 5px;
    transition: border-color ease-in-out 100ms;
    box-shadow: var(--shadow-elevation-medium);
}

.dark-theme .block-container {
    --clr-block-bg: linear-gradient(160deg, var(--clr-dark-main-900) 10%, var(--clr-dark-main-950) 110%);
    --clr-border: var(--clr-dark-main-800);
    --clr-border-hover: var(--clr-dark-main-600);
    --clr-block-bg-placeholder: linear-gradient(160deg, var(--clr-accent-yellow), var(--clr-dark-main-950) 70%);
    --clr-block-bg-border: var(--clr-accent-yellow);
    border-bottom: 0;
    border-top: 1px solid var(--clr-border);
}

@media (max-width: 450px) {
    .block-container {
        --bc-padding: 1rem;
    }
}

.block-container.block-container--placeholder {
    background: var(--clr-block-bg-placeholder);
    border-top-color: #f5f9ff;
    border-bottom-color: var(--clr-block-bg-border);
}

.block-container.block-container--padded {
    padding: var(--bc-padding);
}

.block-container.block-container--hover:hover {
    --clr-block-bg: rgba(255, 255, 255, .8);
    border-bottom-color: var(--clr-border-hover);
}

.details-block-container {
    --details-block-offset: 1.5rem;
    --details-block-padding: 1.5rem;
    background-color: #fff;
    padding: var(--details-block-padding) var(--details-block-padding) calc(var(--details-block-padding) * 2) var(--details-block-padding);
    margin-top: calc(var(--details-block-offset) * -1.2);
    border-radius: var(--details-block-offset);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 -3px 15px rgba(0, 0, 0, .03);
}

@media (max-width: 450px) {
    .details-block-container {
        --details-block-offset: 1rem;
        --details-block-padding: 1rem;
    }
}

.details-block-container:last-child {
    padding-bottom: var(--details-block-padding);
}

.details-block-container.details-block-container--blue {
    background-color: var(--clr-accent-blue);
}

.details-block-container.details-block-container--blue .details-block-container__title {
    color: color-mix(in oklab, var(--clr-accent-blue) 20%, rgb(11, 14, 54));
}

.details-block-container.details-block-container--green {
    background-color: var(--clr-accent-green);
}

.details-block-container.details-block-container--green .details-block-container__title {
    color: color-mix(in oklab, var(--clr-accent-green) 20%, rgb(14, 49, 27));
}

.details-block-container.details-block-container--yellow {
    background-color: var(--clr-accent-yellow);
}

.details-block-container.details-block-container--yellow .details-block-container__title {
    color: color-mix(in oklab, var(--clr-accent-yellow) 20%, rgb(58, 41, 17));
}

.details-block-container.details-block-container--red {
    background-color: var(--clr-accent-red);
}

.details-block-container.details-block-container--red .details-block-container__title {
    color: color-mix(in oklab, var(--clr-accent-red) 20%, rgb(58, 8, 8));
}

.details-block-container.details-block-container--purple {
    background-color: var(--clr-accent-purple);
}

.details-block-container.details-block-container--purple .details-block-container__title {
    color: color-mix(in oklab, var(--clr-accent-purple) 20%, rgb(23, 9, 29));
}

.dark-theme .details-block-container {
    border-top: 1px solid rgba(255, 255, 255, .15);
}

.dark-theme .details-block-container.details-block-container--blue {
    background-image: linear-gradient(160deg, var(--clr-accent-blue), var(--clr-dark-main-950) 70%);
    border-top-color: var(--clr-accent-blue);
}

.dark-theme .details-block-container.details-block-container--green {
    background-image: linear-gradient(160deg, var(--clr-accent-green), var(--clr-dark-main-950) 70%);
    border-top-color: var(--clr-accent-green);
}

.dark-theme .details-block-container.details-block-container--yellow {
    background-image: linear-gradient(160deg, var(--clr-accent-yellow), var(--clr-dark-main-950) 70%);
    border-top-color: var(--clr-accent-yellow);
}

.dark-theme .details-block-container.details-block-container--red {
    background-image: linear-gradient(160deg, var(--clr-accent-red), var(--clr-dark-main-950) 70%);
    border-top-color: var(--clr-accent-red);
}

.dark-theme .details-block-container.details-block-container--purple {
    background-image: linear-gradient(160deg, var(--clr-accent-purple), var(--clr-dark-main-950) 70%);
    border-top-color: var(--clr-accent-purple);
}

.details-block-container__title {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: calc(var(--details-block-offset) / 2);
}
