.block-container {
    --_bc-padding: 1.5rem;
    background: #fcf9fb;
    border-bottom: 1px solid var(--clr-accent-200);
    border-top: 2px solid #fff;
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-elevation-medium);
}

@media (max-width: 450px) {
    .block-container {
        --_bc-padding: 1rem;
    }
}

.dark-theme .block-container {
    background: var(--clr-dark-main-800);
    border-top: 1px solid var(--clr-dark-main-650);
    border-bottom: 1px solid var(--clr-dark-main-900);
    box-shadow: var(--shadow-elevation-medium-dark);
}

.block-container.block-container--padded {
    padding: var(--_bc-padding);
}

.block-container.block-container--hover:hover {
    background: rgba(255, 255, 255, .8);
    border-bottom-color: var(--clr-link-color-hover);
}

.dark-theme .block-container.block-container--hover:hover {
    background: var(--clr-dark-main-700);
    border-top-color: var(--clr-dark-main-600);
    /* border-bottom-color: var(--clr-dark-main-800); */
}

.details-block-container__title {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
    line-height: 1;
    color: var(--clr-accent-800);
}

.dark-theme .details-block-container__title {
    color: var(--clr-accent-200);
}

.block-container.block-container--inset {
    border: 0;
    background-color: #f4edf2;
    border-bottom: 1px solid #fff;
    border-radius: var(--radius-2);
    box-shadow:
        inset 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.25),
        inset 0px 1.1px 1.2px -0.8px hsl(var(--shadow-color) / 0.25),
        inset 0px 2.6px 2.9px -1.7px hsl(var(--shadow-color) / 0.25),
        inset 0px 6.3px 7.1px -2.5px hsl(var(--shadow-color) / 0.25);
}

.block-container.block-container--inset.block-container--padded {
    padding: var(--gap-size-3);
}

.dark-theme .block-container.block-container--inset {
    background-color: rgba(0, 0, 0, .15);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    box-shadow:
        inset 0px 0.4px 0.5px hsl(var(--shadow-color-dark) / 0.25),
        inset 0px 1.1px 1.2px -0.8px hsl(var(--shadow-color-dark) / 0.25),
        inset 0px 2.6px 2.9px -1.7px hsl(var(--shadow-color-dark) / 0.25),
        inset 0px 6.3px 7.1px -2.5px hsl(var(--shadow-color-dark) / 0.25);
}

.block-container.block-container--placeholder {
    background: #d9e3f6;
    border-top-color: #f5f9ff;
    border-bottom-color: #a7badd;
}

.dark-theme .block-container.block-container--placeholder {
    background: #ec8703;
    border-top-color: #ffcc8a;
    border-bottom-color: #4b2a00;
}