.block-container {
    --padding-block-container: 1.5rem;
    --color-background-block-container: var(--clr-gray-50);
    --color-border-bottom-block-container: var(--clr-accent-200);
    --color-border-top-block-container: #fff;

    background: var(--color-background-block-container);
    border-bottom: 1px solid var(--color-border-bottom-block-container);
    border-top: 2px solid var(--color-border-top-block-container);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-elevation-medium);

    .dark-theme & {
        --color-background-block-container: var(--clr-dark-main-800);
        --color-border-bottom-block-container: var(--clr-dark-main-900);
        --color-border-top-block-container: var(--clr-dark-main-650);

        border-width: 1px;
        box-shadow: var(--shadow-elevation-medium-dark);
    }

    &.block-container--padded {
        padding: var(--padding-block-container);
    }

    &.block-container--hover:hover {
        background: rgba(255, 255, 255, .8);

        .dark-theme & {
            background: var(--clr-dark-main-700);
            border-top-color: var(--clr-dark-main-600);
        }
    }

    &.block-container--placeholder {
        background: var(--clr-purple-100);
        opacity: 0.7;
        color: var(--clr-purple-700);
        border-top-color: var(--clr-purple-50);
        border-bottom-color: var(--clr-purple-200);

        .dark-theme & {
            background: #ec8703;
            border-top-color: #ffcc8a;
            border-bottom-color: #4b2a00;
        }
    }

    &.block-container--inset {
        border: 0;
        background-color: var(--clr-gray-100);
        border-bottom: 1px solid #fff;
        border-radius: var(--radius-2);
        box-shadow:
            inset 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.25),
            inset 0px 1.1px 1.2px -0.8px hsl(var(--shadow-color) / 0.25),
            inset 0px 2.6px 2.9px -1.7px hsl(var(--shadow-color) / 0.25),
            inset 0px 6.3px 7.1px -2.5px hsl(var(--shadow-color) / 0.25);

        .dark-theme & {
            background-color: rgba(0, 0, 0, .15);
            border-bottom: 1px solid rgba(255, 255, 255, .1);
            box-shadow:
                inset 0px 0.4px 0.5px hsl(var(--shadow-color-dark) / 0.25),
                inset 0px 1.1px 1.2px -0.8px hsl(var(--shadow-color-dark) / 0.25),
                inset 0px 2.6px 2.9px -1.7px hsl(var(--shadow-color-dark) / 0.25),
                inset 0px 6.3px 7.1px -2.5px hsl(var(--shadow-color-dark) / 0.25);
        }

        &.block-container--padded {
            padding: var(--gap-size-3);
        }
    }
}

@media (max-width: 450px) {
    .block-container {
        --padding-block-container: 1rem;
    }
}
