.button {
    margin: 0;
    border-radius: 30px;
    font-size: 1rem;
    height: 2.4rem;
    line-height: 1.2rem;
    padding: 8px 20px;
    cursor: pointer;
    background: none;
    appearance: none;
    display: inline-block;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    font-weight: 700;
    border: 2px solid transparent;
}

.button:hover {
    color: var(--clr-red-800);
    background-color: rgba(0, 0, 0, .05);
}

.button.button--dark {
    background-color: var(--clr-gray-700);
    color: #fff;
}

.button.button--dark:hover {
    background-color: var(--clr-gray-900);
    color: #fff;
}

.button.button--red {
    background-color: #c6342a;
    color: #fff;
}

.button.button--red:hover {
    background-color: #8c1d16;
    color: #fff;
}

.button.button--outline {
    border: 2px solid var(--clr-gray-800);
    color: var(--clr-gray-800);
    background: none;
}

.button.button--outline:hover {
    border: 2px solid var(--clr-red-800);
    background-color: var(--clr-red-800);
    color: #fff;
}

.button--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
}

.button--small {
    height: 1.8rem;
    font-size: 0.8rem;
    padding: 4px 15px;
}

/* .button--icon:hover svg {
    fill: #fff;
} */

.button-icon-action {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fff;
    fill: var(--clr-gray-800);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icon-action:hover,
.button-icon-action:focus,
.button-icon-action:active {
    background-color: var(--clr-accent-green);
}

.button-circle {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    box-shadow: 0 3px 0 rgba(138, 138, 138, 0.295);
    transition: transform ease-in-out .06s;
}

.button-circle svg {
    width: 28px;
    height: 28px;
    transition: transform ease-in-out .06s;
}

.button-circle:hover {
    background: rgb(241, 241, 241);
}

.button-circle:hover svg {
    transform: scale(1.1, 1.1);
}

.button-circle:focus {
    box-shadow: 0 0 0 2px #262831;
}

.button-circle:active {
    transform: scale(0.95, 0.95);
}

.button--input {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid var(--clr-red-300);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    height: 3rem;
}

.button--input:hover,
.button--input:active,
.button--input:focus {
    background-color: #fff;
    border-color: var(--clr-gray-800);
}

.button--input svg {
    fill: #262831;
}

@media (max-width: 450px) {
    .button--input {
        height: 2.5rem;
    }

    .button--input svg {
        fill: #262831;
        width: 18px;
        height: 18px;
    }

    .button {
        line-height: 100%;
        height: 2.1rem;
        font-size: 0.95rem;
    }
}

.button[disabled] {
    opacity: 0.5;
}
