@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    line-height: 1;
    border: 2px solid transparent;
    margin: 0;
    border-radius: var(--radius-1);
    cursor: pointer;
    background: none;
    appearance: none;
    user-select: none;
    white-space: nowrap;
    text-decoration: none;
    font-weight: var(--fw-bold);
    width: auto;

    &:focus {
        outline: .15rem solid rgba(122, 77, 194, 0.3);
        outline-offset: 2px;
        .dark-theme & {
            outline: .15rem solid rgba(194, 143, 77, 0.3);
        }
    }

    &[disabled] {
        opacity: 0.5;
    }

    &.button--dark {
        background-color: #432f53;
        color: var(--clr-gray-50);
        &:hover {
            background-color: #261733;
        }
        &:active {
            background-color: #261733;
        }
        .dark-theme & {
            background-color: var(--clr-accent-500);
            color: var(--clr-dark-main-800);
            &:hover {
                background-color: var(--clr-accent-400);
            }
            &:active {
                background-color: var(--clr-accent-300);
            }
        }
    }

    &.button--outline {
        color: #463963;
        background: #ddd6ee;
        &:hover {
            background: #d2c8ec;
        }
        &:active {
            background: #d2c8ec;
        }
        .dark-theme & {
            color: #ECC17B;
            background: #4a2b1c;
            &:hover {
                background: #683f2b;
            }
            &:active {
                background: #683f2b;
            }
        }
    }

    &.button--icon {
        padding: 0.5rem;
        align-content: center;
        height: 2.85rem;
        width: 2.85rem;
        background-color: #fff;
        color: var(--clr-gray-800);
        border-color: var(--clr-gray-200);
        flex-shrink: 0;
        flex-grow: 0;
        & > svg {
            transition: transform ease-in-out .06s;
            fill: currentColor;
        }
        &:active > svg {
            transform: scale(0.90, 0.90);
        }
        &:hover {
            border-color: var(--clr-gray-600);
        }
        .dark-theme & {
            background-color: var(--clr-dark-main-700);
            border-color: var(--clr-dark-main-600);
            &:hover {
                border-color: var(--clr-accent-500);
            }
        }
    }

    &.button--danger {
        border-color: var(--clr-red);
        color: var(--clr-red);
        &:is(:hover, :active, :focus) {
            border-color: var(--clr-red);
            background-color: var(--clr-red);
            color: #fff;
        }
    }

    &.button--ai {
        background: linear-gradient(135deg, rgb(255, 168, 116), var(--clr-accent-400));
        color: #4d0724;
        border: none;
        padding: 0.25rem;
        display: inline-flex;
        box-shadow: var(--shadow-elevation-medium);
        animation: fadeUp 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        z-index: var(--z-gen-ai-button);
        & svg {
            width: 14px;
            height: 14px;
        }
        &[disabled] {
            opacity: 1;
        }
    }
}

@media (max-width: 450px) {
    .button.button--icon {
        padding: 8px;
        height: 2.5rem;
        width: 2.5rem;
    }
}

.button--public {
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 0.15rem 0.25rem;
    height: 100%;
    color: var(--clr-gray-600);
    background-color: var(--clr-gray-100);
    border-radius: 0;
}

.button--public:is(:hover, :active, :focus),
.button--public.button--active {
    background-color: var(--clr-gray-200);
    color: var(--clr-gray-800);
}

.close-button-container {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
}

.button--close {
    width: 1.5rem;
    height: 1.5rem;
    background: none;
    display: flex;
    border: 0;
    padding: 0;
    cursor: pointer;
    border-radius: var(--radius-round);
    color: var(--clr-gray-400);
}

.button--close svg {
    width: 24px;
    height: 24px;
    display: block;
    fill: currentColor;
}

.button--close:is(:hover,:focus,:active) {
    background: var(--clr-gray-200);
    color: var(--clr-gray-500);
}

.button-group {
    --cbg-clr-content: var(--clr-gray-800);
    --cbg-clr-bg: var(--clr-gray-100);
    --cbg-clr-bg-hover: var(--clr-gray-300);
    --cbg-clr-bg-active: var(--clr-gray-200);

    .dark-theme & {
        --cbg-clr-content: var(--clr-gray-200);
        --cbg-clr-bg: rgba(0, 0, 0, .2);
        --cbg-clr-bg-hover: rgb(0, 0, 0, .4);
        --cbg-clr-bg-active: rgb(0, 0, 0, .6);
    }

    & h4 {
        font-size: 0.7rem;
    }

    & button {
        background: none;
        border: none;
        font-size: 0.85rem;
        font-weight: var(--fw-bold);
        margin: 0;
        padding: 0.15rem 0.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        color: var(--cbg-clr-content);
        background-color: var(--cbg-clr-bg);
        &.is-active {
            background-color: var(--cbg-clr-bg-active);
        }
        &:hover {
            background-color: var(--cbg-clr-bg-hover);
        }
    }
}
