.button {
    --button-padding: 0.5rem 1.5rem;
    --button-height: 2.25rem;
    height: var(--button-height);
    line-height: 1;
    padding: var(--button-padding);
    border: 2px solid transparent;
    margin: 0;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    appearance: none;
    display: inline-flex;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    text-decoration: none;
    font-weight: 700;
}

@media (max-width: 450px) {
    .button {
        --button-padding: 0.25rem 0.75rem;
    }
}

.button--small {
    height: 1.8rem;
    font-size: 0.8rem;
    padding: 0.25rem 1rem;
}

.button:hover {
    color: var(--clr-red-800);
    background-color: rgba(0, 0, 0, .05);
}

.button.button--dark {
    background-color: var(--clr-gray-700);
    color: var(--clr-gray-50);
}

.button.button--dark:hover {
    background-color: var(--clr-gray-900);
    color: var(--clr-gray-50);
}

.button.button--outline {
    border: 2px solid var(--clr-gray-800);
    color: var(--clr-gray-800);
    background: none;
}

.button.button--outline:hover {
    border: 2px solid var(--clr-red-800);
    background-color: var(--clr-red-800);
    color: var(--clr-gray-50);
}

.button-circle {
    width: 3rem;
    height: 3rem;
    background: var(--clr-gray-50);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    cursor: pointer;
    transition: transform ease-in-out .06s;
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-medium:
      0px 0.4px 0.5px hsl(var(--shadow-color) / 0.11),
      0px 1.4px 1.6px -0.8px hsl(var(--shadow-color) / 0.11),
      0px 3.4px 3.8px -1.7px hsl(var(--shadow-color) / 0.11),
      0px 8.3px 9.3px -2.5px hsl(var(--shadow-color) / 0.11);
    box-shadow: var(--shadow-elevation-medium);
}

.button-circle svg {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--clr-gray-600);
    transition: transform 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.button-circle:hover {
    background: var(--clr-gray-100);
}

.button-circle:hover svg {
    fill: var(--clr-gray-900);
}

.button-circle:focus {
    border-color: var(--clr-gray-800);
}

.button-circle:active {
    transform: scale(0.95, 0.95);
}

.button--input {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid var(--clr-red-200);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    height: 3rem;
}

.button--input svg {
    fill: var(--clr-gray-800);
}

@media (max-width: 450px) {
    .button--input {
        height: 2.5rem;
        line-height: 1.3rem;
        padding: 5px 10px;
    }

    .button--input svg {
        width: 18px;
        height: 18px;
    }
}

.button--input:hover,
.button--input:active,
.button--input:focus {
    background-color: #fff;
    border-color: var(--clr-gray-800);
}

.button[disabled] {
    opacity: 0.5;
}

.button--public {
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 0.15rem 0.25rem;
    height: 100%;
    color: var(--clr-gray-600);
    background-color: var(--clr-gray-100);
    border-radius: 0;
}

.button--public:is(:hover, :active, :focus),
.button--public.button--active {
    background-color: var(--clr-gray-200);
    color: var(--clr-gray-800);
}
