.item-details__chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

.item-details__chips__group__title {
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
    color: var(--clr-gray-600);
}

.dark-theme .item-details__chips__group__title {
    color: rgba(255, 255, 255, .4);
}

.item-details__chips .rating {
    line-height: 1;
}

.chips-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.chip {
    display: block;
    padding: 1px 9px;
    font-size: 0.75rem;
    background-color: #DFE7FD;
    color: #30384d;
    border-radius: var(--radius-1);
    text-decoration: none;
}

a.chip:hover,
a.chip:active,
a.chip:focus {
    background-color: #c1cef0;
    color: #1e273b;
}

.dark-theme .chip {
    background-color: #572d2c;
    color: #f3dada;
}

.dark-theme a.chip:hover,
.dark-theme a.chip:active,
.dark-theme a.chip:focus {
    background-color: #743f3e;
    color: #fff0f0;
}
