.dialog {
    --dialog-margin: 2rem;
    --dialog-padding: 1.5rem;
    inset: 0;
    position: fixed;
    transition: opacity 250ms ease, backdrop-filter 250ms ease;
}

@media (max-width: 450px) {
    .dialog {
        --dialog-margin: 0.5rem;
        --dialog-padding: 1rem;
    }
}

.dialog__container {
    height: 100%;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: var(--dialog-margin);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-animation-enter-from,
.dialog-animation-leave-to {
    opacity: 0;
    backdrop-filter: blur(0)
}

.dialog__overlay {
    background-color: rgba(21, 13, 34, 0.5);
    position: fixed;
    inset: 0;
    pointer-events: auto;
    backdrop-filter: blur(2px);
}

.dialog__content {
    outline: none;
    pointer-events: auto;
    contain: layout;
    background-color: var(--clr-gray-50);
    border-top: 2px solid #fff;
    padding: var(--dialog-padding);
    margin: auto;
    border-radius: var(--radius-2);
    transition: all 200ms cubic-bezier(0.16, 1, 0.3, 1);
    max-width: 600px;
    width: 100%;
    box-shadow: var(--shadow-elevation-high-dark);
}

.dark-theme .dialog__content {
    background-color: var(--clr-dark-main-950);
    border: 1px solid var(--clr-dark-main-800);
}

.dialog-animation-enter-from .dialog__content,
.dialog-animation-leave-to .dialog__content {
    transform: translate(0, 2rem);
    opacity: 0;
}

.dialog-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1;
}

@media (max-width: 450px) {
    .dialog-title {
        font-size: 1.15rem;
        margin-bottom: 1rem;
    }
}

.dialog__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: var(--radius-round);
    background: none;
    display: flex;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.dialog__close svg {
    display: block;
    fill: var(--clr-gray-400);
}

.dialog__close:is(:hover,:focus,:active) {
    background: var(--clr-gray-200);
}

.dialog__close:is(:hover,:focus,:active) svg {
    fill: var(--clr-gray-500);
}

.dialog-actions {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: var(--gap-size-2);
    margin-top: 1.5rem;
}

.site-autocomplete-dialog .dialog__content {
    margin-top: 3rem;
}
