.dialog {
    --dialog-margin: 2rem;
    --dialog-padding: 1.5rem;
    inset: 0;
    position: fixed;
    transition: opacity 250ms ease, backdrop-filter 250ms ease;
    z-index: var(--z-dialog);
}

@media (max-width: 450px) {
    .dialog {
        --dialog-margin: 0rem;
        --dialog-padding: 1rem;
    }
}

.dialog__container {
    height: 100%;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: var(--dialog-margin);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-animation-enter-from,
.dialog-animation-leave-to {
    opacity: 0;
    backdrop-filter: blur(0)
}

.dialog__overlay {
    background-color: rgba(180, 175, 189, 0.8);
    position: fixed;
    inset: 0;
    pointer-events: auto;
    backdrop-filter: blur(5px);
}

.dark-theme .dialog__overlay {
    background-color: rgba(11, 5, 21, 0.8);
}

.dialog__content {
    outline: none;
    pointer-events: auto;
    contain: layout;
    background-color: #fcf9fb;
    border-top: 2px solid #fff;
    padding: var(--dialog-padding);
    margin: auto;
    border-radius: var(--radius-3);
    transition: all 200ms cubic-bezier(0.16, 1, 0.3, 1);
    max-width: 600px;
    width: 100%;
    box-shadow: var(--shadow-elevation-high-dark);
}

.dark-theme .dialog__content {
    background-color: var(--clr-dark-main-800);
    border-bottom: 1px solid var(--clr-dark-main-900);
    border-top: 1px solid var(--clr-dark-main-650);
}

.dialog-animation-enter-from .dialog__content,
.dialog-animation-leave-to .dialog__content {
    transform: translate(0, 2rem);
    opacity: 0;
}

.dialog-title {
    font-size: 1.5em;
    margin-bottom: 1.5rem;
    line-height: 1;
}

@media (max-width: 450px) {
    .dialog-title {
        margin-bottom: 1rem;
    }
}

.dialog-actions {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: var(--gap-size-2);
    margin-top: 1.5rem;
}
