.floating-element {
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-dropdown);
}

.dropdown-menu {
    background-color: #fff;
    padding: 0.5rem;
    border-radius: var(--radius-3);
    display: flex;
    flex-direction: column;
    max-width: 270px;
    animation: slide-in-top 400ms cubic-bezier(0.23, 1, 0.32, 1) both;
    box-shadow: var(--shadow-elevation-low);
}

.dropdown-menu .dropdown-menu__item {
    padding: 6px 16px 6px 12px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 0.9rem;
    border-radius: var(--radius-2);
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-menu .dropdown-menu__item svg {
    margin-right: 12px;
    flex-shrink: 0;
    /* width: 20px; */
}

.dropdown-menu .dropdown-menu__item:hover {
    color: #fff;
    background-color: var(--clr-gray-800);
}

.dropdown-menu .dropdown-menu__item:hover svg {
    fill: #fff;
}

.dropdown-menu .dropdown-menu__title {
    font-size: 0.8rem;
    padding: 3px 16px 3px 12px;
    font-weight: bold;
    color: var(--clr-gray-400);
}

.dropdown-menu__separator {
    border: 0;
    height: 1px;
    background-color: var(--clr-gray-200);
    margin: 0.5rem;
}

@keyframes slide-in-top {
    0% {
        top: -10px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}
