.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-label {
    display: block;
    font-size: 0.9rem;
    font-weight: var(--fw-bold);
    margin-bottom: 2px;
    color: var(--clr-gray-800);
}

.form-label--required::after {
    content: '•';
    font-size: 1.2rem;
    color: rgb(179, 37, 56);
}

.form-input,
.form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, .5);
    border: 2px solid var(--clr-gray-100);
    border-radius: 5px;
    height: 3rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    outline: 0;
    padding: 0.5rem 0.75rem;
    vertical-align: middle;
    color: var(--clr-gray-800);
    font-family: var(--font-primary);
    transition: all ease-in-out .1s;
}

.form-input.form-input--small,
.form-select.form-select--small {
    height: 2.5rem;
    font-size: 1rem;
    line-height: 1.3rem;
}

textarea.form-input,
.form-input[type="file"] {
    height: auto;
}

.form-select:not([multiple]):not([size]) {
    background: rgba(255, 255, 255, .5) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z'/%3E%3C/svg%3E") no-repeat right;
    padding-right: 1.2rem;
}

.form-select:not([multiple]):not([size]):focus {
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z'/%3E%3C/svg%3E") no-repeat right;
}

.form-input:focus,
.form-select:focus {
    border-color: var(--clr-gray-800);
    background: #fff;
}

.form-input::placeholder,
.form-select::placeholder {
    color: var(--clr-gray-600);
}

.form-actions {
    text-align: right;
    border-top: 2px solid var(--clr-red-300);
    margin: 20px 0;
    padding: 20px 0;
}

.form-actions .button {
    margin-left: 10px;
}

.form-input-hint {
    font-size: .7rem;
    margin-top: .2rem;
    color: var(--clr-gray-700);
}

.form-input:disabled {
    opacity: .8;
    background: none;
}

@media (max-width: 450px) {
    .form-input,
    .form-select {
        height: 2.5rem;
        font-size: 1rem;
        line-height: 1.3rem;
        padding: 5px 10px;
    }
}
