.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--gap-size-2);
}

@media (max-width: 450px) {
    .form-group {
        margin-bottom: 1.25rem;
    }
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-label {
    --form-clr-label: var(--clr-gray-800);
    font-size: 1rem;
    font-weight: var(--fw-bold);
    color: var(--form-clr-label);
    line-height: 1;
}

.dark-theme .form-label {
    --form-clr-label: var(--clr-gray-200);
}

@media (max-width: 450px) {
    .form-label {
        font-size: 0.85rem;
    }
}

.form-label--required::after {
    content: '•';
    font-size: 1rem;
    color: rgb(202, 13, 39);
    text-shadow: 0 0 3px red;
}

.form-input,
.form-select {
    --form-clr-text: var(--clr-gray-800);
    --form-clr-bg: #fff;
    --form-clr-bg-focus: #fff;
    --form-clr-border: var(--clr-gray-100);
    --form-clr-border-focus: var(--clr-gray-800);
    --form-clr-placeholder: var(--clr-gray-500);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--form-clr-bg);
    border: 2px solid var(--form-clr-border);
    border-radius: var(--radius-2);
    height: 2.85rem;
    font-size: 1.15rem;
    line-height: 1.5rem;
    outline: 0;
    padding: 0.5rem 0.75rem;
    vertical-align: middle;
    color: var(--form-clr-text);
    font-family: var(--font-primary);
    transition: all ease-in-out .1s;
}

.dark-theme .form-input,
.dark-theme .form-select {
    --form-clr-text: var(--clr-gray-100);
    --form-clr-bg: var(--clr-dark-main-700);
    --form-clr-bg-focus: var(--clr-dark-main-700);
    --form-clr-border: var(--clr-dark-main-900);
    --form-clr-border-focus: var(--clr-accent-500);
    --form-clr-placeholder: var(--clr-gray-400);
}

@media (max-width: 450px) {
    .form-input,
    .form-select {
        height: 2.5rem;
        font-size: 1rem;
        line-height: 1.3rem;
        padding: 5px 10px;
    }
}

.form-input.form-input--red,
.form-select.form-select--red {
    --form-clr-bg: rgba(255, 255, 255, .5);
    --form-clr-border: var(--clr-accent-200);
    border-width: 2px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.dark-theme .form-input.form-input--red,
.dark-theme .form-select.form-select--red {
    --form-clr-bg: rgba(255, 255, 255, .04);
    --form-clr-border: var(--clr-dark-main-800);
}

.form-input.form-input--small,
.form-select.form-select--small {
    height: 2.5rem;
    font-size: 1rem;
    line-height: 1.3rem;
}

textarea.form-input,
.form-input[type="file"] {
    height: auto;
}

.form-select:not([multiple]):not([size]) {
    background: var(--form-clr-bg) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z'/%3E%3C/svg%3E") no-repeat right;
    padding-right: 1.2rem;
}

.form-select:not([multiple]):not([size]):focus {
    background: var(--form-clr-bg) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z'/%3E%3C/svg%3E") no-repeat right;
}

.form-input:focus,
.form-select:focus {
    border-color: var(--form-clr-border-focus);
    background: var(--form-clr-bg-focus);
}

.form-input::placeholder,
.form-select::placeholder {
    color: var(--form-clr-placeholder);
}

.form-actions {
    text-align: right;
    border-top: 2px solid var(--clr-accent-100);
    margin: 20px 0;
    padding: 20px 0;
}

.dark-theme .form-actions {
    border-color: var(--clr-dark-main-900);
}

.form-actions .button {
    margin-left: 10px;
}

.form-input-hint {
    font-size: .75rem;
    color: var(--clr-gray-700);
}

.dark-theme .form-input-hint {
    color: var(--clr-gray-500);
}

.form-input:disabled {
    opacity: .8;
    background: none;
}

.form-checkbox {
    display: flex;
    gap: var(--gap-size-2);
}

.form-checkbox input {
    min-width: 18px;
    min-height: 18px;
}
