.form-group {
    margin-bottom: 20px;
}

.form-group--image {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
}

.form-group--image__image {
    padding: 15px;
    background: rgba(255, 255, 255, .5);
    border-bottom: 2px solid var(--color-bg-dark);
    border-radius: 5px;
    text-align: right;
}

.form-group--image__image .button {
    margin-top: 10px;
}

.form-group--image p {
    margin-top: 20px;
    text-align: right;
}

.form-group--image img {
    max-width: 100%;
    display: block;
}

@media (max-width: 500px) {
    .form-group--image {
        grid-template-columns: 1fr;
    }
}

.form-label {
    display: block;
    display: block;
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: #68444b;
}

.form-label--required::after {
    content: '*';
    color: rgb(223, 45, 32);
}

.form-input,
.form-select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, .5);
    border: 0;
    border: 2px solid var(--color-bg-dark);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 5px;
    height: 3rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
    outline: 0;
    padding: 10px 15px;
    vertical-align: middle;
    color: var(--color-text);
    font-family: var(--font-primary);
    transition: all ease-in-out .1s;
}

textarea.form-input,
.form-input[type="file"] {
    height: auto;
}

.form-select:not([multiple]):not([size]) {
    background: rgba(255, 255, 255, .5) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z'/%3E%3C/svg%3E") no-repeat right;
    padding-right: 1.2rem;
}

.form-select:not([multiple]):not([size]):focus {
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z'/%3E%3C/svg%3E") no-repeat right;
}

.form-input:focus,
.form-select:focus {
    border-color: var(--color-text);
    background: #fff;
}

.form-input::placeholder,
.form-select::placeholder {
    color: #966d74;
}

.form-actions {
    text-align: right;
    border-top: 2px solid var(--color-bg-dark);
    margin: 20px 0;
    padding: 20px 0;
}

.form-actions .button {
    margin-left: 10px;
}

.form-input-hint {
    font-size: .7rem;
    margin-top: .2rem;
    color: #866269;
}
