:root {
    --glass-lowball-height: 250px;
    --glass-lowball-width: 200px;
}

.glass {
    display: flex;
    flex-direction: column-reverse;
    border: 3px solid #000;
    padding: 5px;
    position: relative;
}

.glass .drink {
    height: 50px;
    width: 100%;
    background-color: #ccc;
    z-index: 105;
}

.glass .ice {
    position: absolute;
    top: 60px;
    z-index: 106;
    width: 100%;
    display: flex;
}

.ice .ice-cube {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 5px;
}

.lowball {
    width: var(--glass-lowball-width);
    height: var(--glass-lowball-height);
}

.drink.whiskey-sour {
    background-color: #f4bf2f;
    height: calc(var(--glass-lowball-height) - 50px);
}
