@import "./base.css";
@import "./glasses.css";

#app {
  font-weight: normal;
}

main {
  margin: 2rem;
  max-width: var(--site-width);
  margin: 0 auto;
}

/* Home page cocktails list */

.home-cocktails {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -15px -15px -15px;
}
