@import "./fonts.css";
@import "./base.css";
@import "./forms.css";
@import "./buttons.css";
@import "./dropdown.css";
@import "./tags.css";
@import "./table.css";
@import "./search.css";
@import "./alerts.css";
@import "./blocks.css";
@import "./dialog.css";
@import "./chips.css";
@import "./grid.css";

@import "vue-toast-notification/dist/theme-default.css";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@import "cropperjs/dist/cropper.min.css";

#app {
    font-weight: normal;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.public-body {
    background-color: var(--color-site-header);
}

main {
    max-width: var(--site-width);
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    flex: 1;
}

mark {
    background-color: rgb(255, 190, 136);
    padding: 0 2px;
}

.page-subtitle {
    padding: 0.5rem 1rem;
    border-radius: var(--radius-2);
    margin: 1rem 0;
    font-size: 0.85rem;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    background: var(--clr-accent-purple);
    color: #6c6380;
}

.page-subtitle a {
    margin-left: auto;
    font-size: 1rem;
    font-family: var(--font-primary);
    text-decoration: none;
}

h3.form-section-title {
    display: flex;
    align-items: center;
    margin: 1.5rem 0 1.25rem 0;
    font-size: 1rem;
}

h3.form-section-title::before {
    counter-increment: section;
    content: counter(section);
    background: var(--clr-accent-800);
    border-radius: var(--radius-1);
    color: #fff;
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    align-items: center;
    justify-content: center;
    margin-right: 0.25rem;
}

.site-logo {
    display: flex;
    color: #fff;
    text-decoration: none;
}

.site-logo__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-logo__image svg {
    fill: #fff;
    width: 40px;
    height: 40px;
}

.site-logo__title {
    font-weight: var(--fw-bold);
    margin-left: 10px;
    text-shadow: 3px 2px 0 rgba(0, 0, 0, .2);
    line-height: 0.9;
    align-self: center;
    font-size: 1.7rem;
}

.site-logo__title span {
    display: block;
    font-size: 0.8rem;
    text-shadow: none;
    opacity: .7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.site-logo:hover,
a.site-logo:active,
a.site-logo:focus,
a.site-logo:hover .site-logo__title span,
a.site-logo:active .site-logo__title span,
a.site-logo:focus .site-logo__title span {
    color: #fff;
    opacity: 1;
}

a.site-logo:hover .site-logo__title,
a.site-logo:active .site-logo__title,
a.site-logo:focus .site-logo__title {
    text-shadow: 3px 2px 0 rgba(0, 0, 0, .4);
}

@media (max-width: 650px) {
    .site-logo__title span {
        width: 300px;
    }
}

@media (max-width: 450px) {
    .site-logo {
        justify-content: center;
    }

    .site-logo__title {
        line-height: 0.9;
        font-size: 1.35rem;
    }
    
    .site-logo__title span {
        font-size: 0.6rem;
        width: 130px;
    }

    .site-logo__image svg {
        width: 30px;
        height: 30px;
    }
}

.login-page {
    --clr-lp-bg: var(--color-site-header);
    --clr-lp-form-bg: var(--clr-gray-50);
    background-color: var(--clr-lp-bg);
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='56.915' height='30' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(259, 22%, 38%, 1)'/><path d='M10.023 0c1.263 1.051 2.418 2.246 3.592 3.462 1.874 1.944 3.808 3.938 6.287 5.404-.94.552-1.8 1.18-2.606 1.856-.844-.785-1.66-1.625-2.452-2.444C11.22 4.525 7.476.646 0 .645v1.71c6.752.001 10.089 3.451 13.615 7.107.771.8 1.568 1.619 2.397 2.401a62.36 62.36 0 0 0-1.785 1.776C10.785 10.099 7.056 6.646 0 6.645v1.708c6.38.002 9.706 3.085 13.038 6.513a50.715 50.715 0 0 1-1.878 1.86C8.773 14.73 5.373 12.646 0 12.646v1.707c4.679.001 7.63 1.687 9.86 3.514-.97.793-2.009 1.5-3.173 2.066C4.652 19.07 2.46 18.646 0 18.646v1.706c1.494 0 2.872.171 4.17.512-1.24.332-2.61.517-4.17.517v1.71c7.477-.001 11.22-3.881 14.842-7.63 3.527-3.654 6.864-7.106 13.615-7.106s10.084 3.452 13.612 7.106c3.622 3.75 7.363 7.63 14.842 7.63h.004v-1.71h-.006c-1.56 0-2.932-.186-4.171-.517 1.294-.34 2.675-.512 4.17-.512h.007v-1.706h-.004c-2.466 0-4.654.427-6.686 1.287-1.164-.567-2.206-1.273-3.175-2.066 2.23-1.827 5.182-3.514 9.86-3.514h.005v-1.708h-.004c-5.375 0-8.777 2.084-11.16 4.081a50.04 50.04 0 0 1-1.88-1.86c3.33-3.425 6.657-6.513 13.04-6.513h.004V6.647h-.004c-7.052 0-10.785 3.449-14.23 6.99a53.881 53.881 0 0 0-1.786-1.774 73 73 0 0 0 2.397-2.4c3.528-3.658 6.864-7.108 13.619-7.108h.004V.645c-7.479 0-11.225 3.88-14.848 7.633-.793.819-1.606 1.66-2.45 2.444a19.368 19.368 0 0 0-2.612-1.86c2.482-1.461 4.415-3.46 6.293-5.404C44.472 2.243 45.628 1.051 46.89 0h-2.564a56.28 56.28 0 0 0-1.644 1.638A57.394 57.394 0 0 0 41.04 0h-2.563c1.058.878 2.037 1.854 3.017 2.865a56.484 56.484 0 0 1-1.877 1.864C37.23 2.732 33.83.647 28.457.647c-5.375 0-8.776 2.085-11.163 4.082a57.454 57.454 0 0 1-1.879-1.864c.98-1.01 1.957-1.988 3.016-2.865H15.87a56.212 56.212 0 0 0-1.642 1.638A57.473 57.473 0 0 0 12.583 0zm18.432 2.355c4.678 0 7.63 1.684 9.86 3.511-.967.79-2.003 1.49-3.167 2.061-1.871-.796-4.05-1.281-6.693-1.282-2.65 0-4.825.486-6.696 1.282-1.164-.567-2.198-1.272-3.165-2.057 2.23-1.83 5.18-3.515 9.861-3.515zm.002 10.29c-7.479 0-11.224 3.879-14.847 7.628-2.134 2.213-4.16 4.306-6.916 5.651a15.806 15.806 0 0 0-3.792-1.063l-.134-.022c-.27-.041-.547-.074-.827-.101l-.143-.011c-.232-.02-.465-.037-.703-.052l-.234-.009A17.34 17.34 0 0 0 0 24.644v1.708c.262 0 .52.008.775.019l.211.01c.212.011.424.028.636.045.041.004.089.005.13.009.25.024.494.054.737.088.047.01.095.017.143.024.222.034.44.072.655.116l.083.014c.247.052.492.11.735.171.017.007.036.01.053.017.502.13.99.291 1.466.475h.007a13.434 13.434 0 0 1 1.789.847h.004c.864.484 1.71 1.079 2.591 1.813h2.568c-.048-.044-.095-.092-.141-.136.833-.782 1.624-1.603 2.396-2.402 3.531-3.657 6.868-7.108 13.62-7.108 6.75 0 10.083 3.453 13.61 7.106a69.76 69.76 0 0 0 2.401 2.408c-.048.045-.097.088-.141.132h2.562c2.534-2.11 5.516-3.646 10.02-3.646h.005v-1.71h-.002c-2.646 0-4.825.489-6.697 1.28-2.756-1.349-4.781-3.438-6.918-5.651-3.62-3.752-7.366-7.628-14.84-7.628zm-.002 1.708c6.751 0 10.084 3.453 13.616 7.107 1.875 1.942 3.806 3.94 6.288 5.405-.938.554-1.8 1.182-2.608 1.86-.847-.788-1.664-1.632-2.455-2.452-3.62-3.749-7.366-7.63-14.84-7.63-7.478 0-11.225 3.881-14.845 7.63-.792.823-1.609 1.663-2.455 2.449a19.312 19.312 0 0 0-2.606-1.857c2.478-1.465 4.411-3.46 6.287-5.404 3.53-3.657 6.864-7.108 13.618-7.108zm-.001 10.291c-5.953 0-9.538 2.46-12.581 5.356h2.556c2.534-2.11 5.52-3.648 10.027-3.648 4.504 0 7.485 1.538 10.018 3.648h2.56c-3.038-2.895-6.628-5.356-12.58-5.356z'  stroke-width='1' stroke='none' fill='hsla(259, 27%, 31%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.dark-theme .login-page {
    --clr-lp-form-bg: linear-gradient(160deg, var(--clr-dark-main-800) -30%, var(--clr-dark-main-950) 80%);
}

.login-page form {
    margin-top: 20px;
    background: var(--clr-lp-form-bg);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: var(--radius-3);
    border-top: 3px solid #fff;
    box-shadow: var(--shadow-elevation-high-dark);
}

.dark-theme .login-page form {
    border-top: 1px solid var(--clr-dark-main-800);
}

.settings-page {
    display: flex;
    gap: var(--gap-size-5);
}

.settings-page__nav {
    flex-basis: 200px;
    flex: 0.6;
}

.settings-page__content {
    flex: 3;
}

@media (max-width: 750px) {
    .settings-page {
        flex-direction: column;
    }
}

.drag-handle {
    --clr-handle: var(--clr-gray-300);
    width: 12px;
    flex-shrink: 0;
    height: 100%;
    background-image: radial-gradient(circle at 1px 1px, var(--clr-handle) 1px, transparent 0);
    background-size: 4px 4px;
    cursor: grab;
}

.dark-theme .drag-handle {
    --clr-handle: var(--clr-gray-700);
}

.image-export-wrapper {
    padding: 2rem 2rem 1.75rem 2rem;
    background: var(--color-site-header);
    width: 1000px;
}

.ingredient-shelf-status {
    display: inline-block;
    margin-right: 5px;
}

.ingredient-shelf-status:after {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    fill: currentColor;
}

.ingredient-shelf-status.ingredient-shelf-status--in-shelf:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(64, 61, 67)'%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z'%3E%3C/path%3E%3C/svg%3E");
}

.ingredient-shelf-status.ingredient-shelf-status--missing:after {
    color: rgb(126, 59, 59);
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(126, 59, 59)'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20Z'%3E%3C/path%3E%3C/svg%3E");
}

.ingredient-shelf-status.ingredient-shelf-status--substitute:after {
    color: rgb(255, 125, 39);
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(255, 125, 39)'%3E%3Cpath d='M17.2073 2.29291L15.793 3.70712L18.0859 6.00002H13.0002V8.00001H18.0859L15.793 10.2929L17.2073 11.7071L21.9144 7.00001L17.2073 2.29291ZM7.00015 11.5C9.48543 11.5 11.5002 9.4853 11.5002 7.00001C11.5002 4.51473 9.48543 2.50001 7.00015 2.50001C4.51487 2.50001 2.50015 4.51473 2.50015 7.00001C2.50015 9.4853 4.51487 11.5 7.00015 11.5ZM5.91436 18L8.20726 20.2929L6.79304 21.7071L2.08594 17L6.79304 12.2929L8.20726 13.7071L5.91436 16H11.0002V18H5.91436ZM14.0002 13C13.4479 13 13.0002 13.4477 13.0002 14V20C13.0002 20.5523 13.4479 21 14.0002 21H20.0002C20.5524 21 21.0002 20.5523 21.0002 20V14C21.0002 13.4477 20.5524 13 20.0002 13H14.0002Z'%3E%3C/path%3E%3C/svg%3E");
}

.ingredient-shelf-status.ingredient-shelf-status--complex:after {
    color: rgb(23, 132, 233);
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(23, 132, 233)'%3E%3Cpath d='M16.5717 8.02749C16.8469 7.4078 16.9998 6.72176 16.9998 6C16.9998 3.23858 14.7612 1 11.9998 1C9.23839 1 6.99981 3.23858 6.99981 6C6.99981 8.58261 8.95785 10.7079 11.4704 10.9723C12.6858 9.24029 14.576 8.20785 16.5717 8.02749ZM13.1542 17.9462C13.996 16.1276 14.047 13.9741 13.1547 12.0554C14.6399 10.0118 17.4591 9.37883 19.6956 10.6701L19.6957 10.67C22.0871 12.0508 22.9064 15.1086 21.5257 17.5C20.145 19.8915 17.087 20.7109 14.6956 19.3302C14.0707 18.9694 13.5532 18.4942 13.1542 17.9462ZM6.27311 10.0269C7.42726 11.6652 9.26672 12.786 11.3746 12.9726C12.4016 15.2807 11.5401 18.0388 9.30357 19.3301C6.91211 20.7108 3.85415 19.8914 2.47344 17.5C1.09273 15.1085 1.91211 12.0505 4.30357 10.6698C4.92851 10.309 5.59897 10.0984 6.27311 10.0269Z'%3E%3C/path%3E%3C/svg%3E");
}