@import "./base.css";
@import "./forms.css";
@import "./buttons.css";
@import "./dropdown.css";
@import "./modal.css";
@import "./glasses.css";
@import "./tags.css";
@import "./table.css";

@import "vue-select/dist/vue-select.css";
@import "vue-toast-notification/dist/theme-default.css";

#app {
    font-weight: normal;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    margin: 2rem;
    max-width: var(--site-width);
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    flex: 1;
}

.page-subtitle {
    border-bottom: 2px solid #f2d4d9;
    padding-bottom: 10px;
    margin: 40px 0 20px 0;
    font-weight: 700;
    /* letter-spacing: 1px; */
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: var(--font-page-subtitle);
    text-shadow: 1px 1px 0 #f2d4d9;
    display: flex;
}

.page-subtitle a {
    margin-left: auto;
    font-size: 1rem;
    font-family: var(--font-primary);
    text-decoration: none;
}

@media (max-width: 450px) {
    .page-subtitle {
        margin: 30px 0 20px 0;
        font-size: 1.1rem;
    }
}

.empty-state {
    text-align: center;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .5);
}

.empty-state svg {
    fill: var(--color-text);
    width: 70px;
    height: 70px;
}

.popper {
    z-index: 10;
}

.site-logo {
    display: flex;
    font-family: var(--font-accent);
    color: #fff;
    text-decoration: none;
}

.site-logo__image {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.site-logo__image svg {
    fill: var(--color-site-header);
    width: 32px;
    height: 32px;
}

.site-logo__title {
    font-weight: 700;
    margin-left: 10px;
    text-shadow: 3px 2px 0 rgba(0, 0, 0, .2);
    line-height: 0.9;
}

.site-logo__title span {
    display: block;
    font-size: 0.8rem;
    text-shadow: none;
    opacity: .7;
}

a.site-logo:hover,
a.site-logo:active,
a.site-logo:focus,
a.site-logo:hover .site-logo__title span,
a.site-logo:active .site-logo__title span,
a.site-logo:focus .site-logo__title span {
    color: #fff;
    opacity: 1;
}

a.site-logo:hover .site-logo__title,
a.site-logo:active .site-logo__title,
a.site-logo:focus .site-logo__title {
    text-shadow: 3px 2px 0 rgba(0, 0, 0, .4);
}

@media (max-width: 450px) {
    .site-logo__image {
        width: 30px;
        height: 30px;
    }
    
    .site-logo__image svg {
        width: 24px;
        height: 24px;
    }

    .site-logo__title {
        line-height: 0.9;
    }
    
    .site-logo__title span {
        font-size: 0.6rem;
    }
}

.flags {
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 0.8rem;
    row-gap: 5px;
    display: grid;
    color: var(--color-text-muted);
}

.flags li {
    background-color: rgba(0, 0, 0, .03);
    border-radius: 2px;
}

.login-page {
    background-color: var(--color-site-header);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.login-page form {
    margin-top: 20px;
    background-color: var(--color-bg);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 20px;
}

.settings-page {
    display: flex;
    gap: 20px;
}

.settings-page__nav {
    flex-basis: 200px;
    flex: 1;
}

.settings-page__content {
    flex: 3;
}

@media (max-width: 750px) {
    .settings-page {
        flex-direction: column;
    }
}
