:root {
    --modal-body-padding: 20px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal {
    background: var(--color-bg);
    box-shadow: 0 10px 20px 1px rgb(71, 71, 71, 0.3);
    border-radius: 15px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: calc(var(--site-width) / 2);
    width: 100%;
}

.modal-body {
    position: relative;
    padding: var(--modal-body-padding);
}

.modal-footer {
    padding: var(--modal-body-padding);
    padding-top: 0;
    text-align: right;
}
