.resource-search {
    display: flex;
    gap: var(--gap-size-3);
}

.resource-search__refinements {
    width: 300px;
}

.resource-search__content {
    width: 100%;
}

.resource-search__content__filter {
    display: flex;
    gap: var(--gap-size-2);
}

@media (max-width: 450px) {
    .resource-search__content__filter {
        gap: var(--gap-size-1);
    }
}

.resource-search__content__filter .form-input {
    flex-basis: 100%;
}

@media (max-width: 850px) {
    .resource-search__content__filter {
        flex-wrap: wrap;
    }

    .resource-search__content__filter .form-input {
        flex-basis: auto;
    }
}

.resource-search__content__pagination {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.resource-search__content__pagination__links {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: var(--gap-size-2);
}

@media (max-width: 750px) {
    .resource-search__refinements {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(21, 13, 34, 0.5);
        width: 100%;
        z-index: var(--z-mobile-search-refinements);
        height: 100%;
    }

    .resource-search__refinements__body {
        background: var(--clr-accent-50);
        width: 80%;
        height: 100%;
        padding: 1.5rem;
        overflow-y: scroll;
    }

    .dark-theme .resource-search__refinements__body {
        background: var(--clr-dark-main-950);
    }
}

.resource-search__refinements__refinement {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-top: 3px double var(--clr-accent-300);
    background-color: #f4edf2;
}

.dark-theme .resource-search__refinements__refinement {
    border-color: var(--clr-dark-main-700);
    background-color: rgba(0, 0, 0, .15);
}

.resource-search__refinements__refinement__body {
    max-height: 300px;
    overflow-y: auto;
}

.resource-search__refinements__refinement__title {
    display: flex;
    align-items: center;
}

.resource-search__refinements__refinement__title h4 {
    color: var(--clr-header-title);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    font-size: 0.715rem;
    margin-bottom: 0.5rem;
}

.resource-search__refinements__refinement__title__actions {
    margin-left: auto;
    flex-shrink: 0;
}

.resource-search__refinements__refinement__item {
    margin-bottom: 0.5rem;
}

.resource-search__refinements__refinement__item input[type="checkbox"],
.resource-search__refinements__refinement__item input[type="radio"] {
    margin-right: 0.25rem;
    width: 1rem;
    height: 1rem;
}
