.table {
    --table-border-width: 1px;
    --table-border-color: var(--clr-red-100);
    width: 100%;
    caption-side: bottom;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

.table td {
    padding: .5rem;
    box-shadow: inset var(--table-border-width) calc(var(--table-border-width) * -1) 0 0 var(--table-border-color);
}

.table tr:last-child td {
    box-shadow: inset var(--table-border-width) 0 0 0 var(--table-border-color);
}

.table td:first-child {
    box-shadow: inset 0 calc(var(--table-border-width) * -1) 0 0 var(--table-border-color);
}

.table td:first-child {
    box-shadow: inset 0 calc(var(--table-border-width) * -1) 0 0 var(--table-border-color);
}

.table tr:last-child td:first-child {
    box-shadow: none;
}

.table th {
    font-weight: bold;
    font-size: 0.75rem;
    padding: .5rem;
}

.table tr:hover td {
    background-color: var(--clr-red-50);
}

.table td small {
    color: var(--clr-gray-500);
    line-height: 1.4;
    display: block;
}
