.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    --color-tag: #DFE7FD;
    --color-text: var(--clr-gray-800);

    text-decoration: none;
    background-color: none;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    line-height: 1.3;
    white-space: nowrap;
}

/* @media (prefers-color-scheme: dark) {
    .tag {
        --color-tag: var(--clr-gray-700);
        --color-text: var(--clr-gray-200);
    }
} */

.tag.tag--link {
    border: 1px solid var(--clr-red-300);
}

.tag.tag--link:hover,
.tag.tag--link:focus,
.tag.tag--link:active {
  background-color: #fff;
}

.tag.tag--link.tag--is-selected {
    background-color: var(--clr-gray-800);
    border: 1px solid var(--clr-gray-800);
    color: var(--color-text);
}

.tag.tag--background {
    background-color: var(--color-tag);
    color: var(--color-text);
}

.chips-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.chips-list li a,
.chips-list li span {
    display: block;
    padding: 1px 8px;
    font-size: 0.9rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, .5);
    border-radius: 0.25rem;
    text-decoration: none;
}

.chips-list li a:hover,
.chips-list li a:active,
.chips-list li a:focus {
    box-shadow: 0 2px 0 var(--clr-red-800);
    background-color: #fff;
}

.chips-list__spacer::before {
    content: '·';
    font-size: 3rem;
    line-height: 0.4;
    opacity: .4;
}
