.sr-grid-title {
    font-size: 1.5em;
    font-family: var(--font-heading);
    font-weight: var(--fw-bold);
    line-height: 1.2;
}

@media (max-width: 450px) {
    .sr-grid-title {
        font-size: 1.25em;
    }
}

.sr-list-item-title {
    font-size: 1.25em;
    font-family: var(--font-heading);
    font-weight: var(--fw-bold);
    line-height: 1.2;
}

.block-container__title {
    font-family: var(--font-heading);
    font-size: 1.5em;
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
    line-height: 1;
    color: var(--clr-accent-600);
}

.dark-theme .block-container__title {
    color: var(--clr-accent-200);
}

.resource-facts {
    font-size: 0.85em;
    margin-bottom: var(--gap-size-3);
    & dl {
        display: grid;
        grid-template-columns: 120px 1fr 120px 1fr;
        @media (max-width: 800px) {
            & {
                grid-template-columns: 120px 1fr;
            }
        }
        & dt,
        dd {
            padding: 0.25rem 0;
            display: flex;
            align-items: center;
        }
        & dt {
            font-weight: var(--fw-bold);
            color: var(--clr-gray-600);
            /*&:after {
                content: ":";
            }*/
            .dark-theme & {
                color: var(--clr-gray-400);
            }
        }
    }
}

.external-link {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    & svg {
        width: 1rem;
        height: 1rem;
    }
}
