.has-markdown h1 {
    font-size: 2rem;
    margin: 0.75rem 0 0.25rem 0;
    font-weight: var(--fw-bold);
}

.has-markdown h2 {
    font-size: 1.5rem;
    margin: 0.70rem 0 0.20rem 0;
    font-weight: var(--fw-bold);
}

.has-markdown h2 {
    font-size: 1.25rem;
}

.has-markdown ol {
    padding-left: 30px;
}

.has-markdown ol li::marker {
    font-size: 1rem;
    font-weight: var(--fw-bold);
}

.has-markdown hr {
    border: 1px solid var(--clr-gray-300);
    margin: 0.75rem 0;
}

.sr-grid-title {
    font-size: 1.7em;
    font-family: var(--font-heading);
    font-weight: var(--fw-bold);
    line-height: 1.2;
}

@media (max-width: 450px) {
    .sr-grid-title {
        font-size: 1.5em;
    }
}

.sr-list-item-title {
    font-size: 1.25em;
    font-family: var(--font-heading);
    font-weight: var(--fw-bold);
    line-height: 1.2;
}

.block-container__title {
    font-family: var(--font-heading);
    font-size: 1.5em;
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
    line-height: 1;
    color: var(--clr-accent-800);
}

.dark-theme .block-container__title {
    color: var(--clr-accent-200);
}
